.container_principal {
  width: 100%;
  min-height: 100vh;
  padding: 100px 20px;
  background-color: #f4f4f4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
